﻿@model BetsApp.PL.Models.SportsRootViewModel

@if (Model.SelectedSport == null)
{
    string baseUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));

    <ul>
        @foreach (var sport in Model.Sports)
        {
            <li>
                <a href="@baseUrl/Home/index/?sport=@sport.Name" class="sport" data-value="@sport.SportId">@sport.Name</a>
            </li>
        }
    </ul>
}
else
{
    <ul class="sport">
        @foreach (var sport in Model.Sports)
        {
            if (sport.Name != Model.SelectedSport)
            {
                continue;
            }

            <li id="sport" value="@sport.SportId">
                @sport.Name

                <ul class="event">
                    @foreach (var ev in Model.Events)
                    {
                        if (ev.SportId != sport.SportId)
                        {
                            continue;
                        }

                        <li class="event" value="@ev.EventId">
                            @ev.Name

                            <ul class="match">
                                @foreach (var match in Model.Matches)
                                {
                                    if (match.EventId != ev.EventId)
                                    {
                                        continue;
                                    }

                                    <li class="match" value="@match.MatchId">
                                        @match.Name - @match.StartDate

                                        <ul class="bet">
                                            @foreach (var bet in Model.Bets)
                                            {
                                                if (bet.MatchId != match.MatchId)
                                                {
                                                    continue;
                                                }

                                                <li class="bet" value="@bet.BetId">
                                                    @bet.Name

                                                    <ul class="odd">
                                                        @foreach (var odd in Model.Odds)
                                                        {
                                                            if (odd.BetId != bet.BetId)
                                                            {
                                                                continue;
                                                            }

                                                            <li class="odd" value="@odd.OddId">
                                                                @odd.Name / @odd.Value / @odd.SpecialBetValue
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
}

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/liveUpdate.js"></script>
}
